DROP DATABASE IF EXISTS vihangielectronics;
CREATE DATABASE vihangielectronics;
USE vihangielectronics;

-- User --
CREATE TABLE User(
                     userName VARCHAR(20) PRIMARY KEY,
                     password VARCHAR(20) NOT NULL,
                     email VARCHAR(50) NOT NULL,
                     jobRoll ENUM('Admin','Manager') NOT NULL,
                     status ENUM('Active','Inactive') DEFAULT 'Inactive'
);

-- Customer --
CREATE TABLE Customer(
                         customerId VARCHAR(4) PRIMARY KEY,
                         name VARCHAR(100) NOT NULL,
                         contact CHAR(10) UNIQUE NOT NULL,
                         email VARCHAR(50) UNIQUE NOT NULL,
                         address VARCHAR(100) NOT NULL
);

INSERT INTO Customer (customerId, name, contact, email, address) VALUES
                                                                           ('C001', 'Amal Perera', '0711111111', 'amal@gmail.com', 'Colombo'),
                                                                           ('C002', 'Sunil Silva', '0722222222', 'sunil@gmail.com', 'Kandy'),
                                                                           ('C003', 'Kamal Fernando', '0777777777', 'kamal@gmail.com', 'Matara');

-- Quotation --
CREATE TABLE Quotation(
                          quotationId VARCHAR(4) PRIMARY KEY ,
                          customerId VARCHAR(4) NOT NULL,
                          date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                          status ENUM('Approve','Pending','Cancel') DEFAULT 'Pending',
                          FOREIGN KEY (customerId) REFERENCES Customer(customerId) ON DELETE CASCADE
);

-- Order Table --
CREATE TABLE OrderTable(
                           orderId VARCHAR(4) PRIMARY KEY,
                           customerId VARCHAR(4) NOT NULL,
                           date DATE NOT NULL,
                           time TIME,
                           description VARCHAR(100),
                           totalAmount DECIMAL(10,2) NOT NULL CHECK (totalAmount > 0),
                           status ENUM('Success','Pending','Fail') DEFAULT 'Success',
                           FOREIGN KEY (customerId) REFERENCES Customer(customerId) ON DELETE CASCADE
);

-- Supplier --
CREATE TABLE Supplier(
                         supplierId VARCHAR(4) PRIMARY KEY,
                         name VARCHAR(100) NOT NULL,
                         contact VARCHAR(15) UNIQUE NOT NULL,
                         email VARCHAR(50) UNIQUE NOT NULL,
                         address TEXT NOT NULL

);

-- Product --
CREATE TABLE Product(
                        productId VARCHAR(4) PRIMARY KEY,
                        supplierId VARCHAR(4) NULL,
                        name VARCHAR(100) NOT NULL,
                        pricePerUnit DECIMAL(10,2) NOT NULL CHECK (pricePerUnit > 0),
                        qty INT NOT NULL DEFAULT 0,
                        FOREIGN KEY (supplierId) REFERENCES Supplier(supplierId) ON DELETE CASCADE
);

-- Stock --
CREATE TABLE Stock(
                      stockId INT PRIMARY KEY AUTO_INCREMENT,
                      productId VARCHAR(4) NOT NULL UNIQUE,
                      stockQuantity INT NOT NULL CHECK (stockQuantity > 0),
                      FOREIGN KEY (productId) REFERENCES Product(productId) ON DELETE CASCADE
);

-- Order Details --
CREATE TABLE Order_Details(
                              orderDetailsId VARCHAR(5) PRIMARY KEY,
                              orderId VARCHAR(4) NOT NULL,
                              productId VARCHAR(4) NOT NULL,
                              quantity INT NOT NULL CHECK (quantity > 0),
                              unitePrice DECIMAL(10,2) CHECK (unitePrice > 0),
                              FOREIGN KEY (orderId) REFERENCES OrderTable(orderId) ON DELETE CASCADE,
                              FOREIGN KEY (productId) REFERENCES Product(productId) ON DELETE CASCADE
);

-- Payment --
CREATE TABLE Payment(
                        paymentId VARCHAR(4) PRIMARY KEY,
                        orderId VARCHAR(4) NOT NULL,
                        date DATE NOT NULL,
                        amount DECIMAL(10,2) CHECK (amount > 0),
                        paymentMethod ENUM('Cash','Card','Online') NOT NULL,
                        status ENUM('Success','Pending','Fail') DEFAULT 'Success',
                        FOREIGN KEY (orderId) REFERENCES OrderTable(orderId) ON DELETE CASCADE
);

-- Delivery --
CREATE TABLE Delivery(
                         deliveryId VARCHAR(4) PRIMARY KEY,
                         orderId VARCHAR(4) NOT NULL,
                         date DATE NOT NULL,
                         time TIME,
                         address TEXT NOT NULL,
                         status ENUM('Success','Pending','Cancel') DEFAULT 'Success',
                         FOREIGN KEY (orderId) REFERENCES OrderTable(orderId) ON DELETE CASCADE
);
